<div id="jq-primaryContent" style="width:1132px">

<h1>Editing api_list</h1>

<%= render 'form' %>
<p style="font-size:16px;">
<%= link_to 'Show', @api_list %> |
<%= link_to 'Back', api_lists_path %>
</p>
</div>
